.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #4A0001;  /* dark blood color nav */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

@font-face { 
    font-family: 'Draconis';
    src: url('./fonts/Draconis.otf') format("opentype");
}
  
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Draconis';
    font-size: 35px;
    color: #FFFAE3;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #634d36;
}

/* Style page content */
.fContianer {
    display: flex;
    margin-left: 150px; /* Same as the width of the sidebar */
    margin-top: -10px;
    padding: 0px 10px;
    background-color: #F5F7FC;
    height: 100vh;
    width: 100vh;
}

.navLogo {
    width: 120px;
    filter: #FFFAE2;
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}