.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #4A0001;  /* dark blood color nav */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

@font-face { 
    font-family: 'Draconis';
    src: url('./fonts/Draconis.otf') format("opentype");
}
  
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-family: 'Draconis';
    font-size: 40px;
    color: #FFFAE3;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #634d36;
}

/* Style page content */
.fContianer {
    margin-left: 150px; /* Same as the width of the sidebar */
    margin-top: -10px;
    padding: 0px 10px;
    background-color: #F5F7FC;
    height: 100vh;
    width: 100%;
}

.navLogo {
    width: 140px;
    filter: invert(12%) sepia(25%) saturate(240%) hue-rotate(338deg) brightness(107%) contrast(104%);
}

.logoContainer img:hover {
    filter: invert(71%) sepia(13%) saturate(1272%) hue-rotate(350deg) brightness(97%) contrast(87%);
}

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}






/* card css styles */
.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 16px;
    padding: 16px;
    justify-content: center; /* Center the grid */
}

.card {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    width: 250px; /* Set fixed width */
    height: 350px; /* Set fixed height */
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-subtitle {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.card-description {
    font-size: 14px;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-top: 1px solid #eee;
    background-color: #f9f9f9;
}

.card-footer span {
    font-size: 14px;
    color: #777;
}

.card-footer button {
    padding: 4px 8px;
    background-color: #d32f2f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.card-footer button:hover {
    background-color: #b71c1c;
}
